
user  {{ _nginx_user }};
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    # tcp_nopush     on;

    keepalive_timeout  65;

    # gzip  on;

    # include /etc/nginx/conf.d/*.conf;

    upstream keycloak {
        ip_hash;
{% for host in groups['keycloaks'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ keycloak_http_port }};
{% endfor %}
    }
    server {

    server_name {{ nginx_domain_name }};

    location / {
        proxy_buffer_size 8k;
        proxy_set_header Host                   $host;
        proxy_set_header X-Real-IP              $remote_addr;
        proxy_set_header X-Forwarded-Host       $host;
        proxy_set_header X-Forwarded-Server     $host;
        proxy_set_header X-Forwarded-Port       $server_port;
        proxy_set_header X-Forwarded-Proto      $scheme;
        proxy_set_header X-Forwarded-For        $proxy_add_x_forwarded_for;
        proxy_pass                              http://keycloak;
    }
    }
}
